.brd-container {
  width: 80%;
  height: 72vh;
  margin-top: 1%;
  background-color: white;
  border-radius: 5px;
  position: relative;
  overflow: auto;
  margin-bottom: 1%;
  font-size: large;
}
.text-icon-container {
  display: flex;
  color: rgba(0, 0, 0, 0.849);
  align-items: center;
}

.brd-text-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;


}
@media (max-width: 800px) {
    .brd-text-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .brd-text-container {
        grid-template-columns: 1fr; 
    }
}

