.brd-form-container {
    width: 70%; 
    /* max-width: 800px;  */
    height: auto; 
    margin: 1% auto;
   
    border-radius: 5px;
    position: relative;
    overflow: auto;
    padding: 20px;}

.info{
    /* margin-left: 230px; */
    border: 1px solid #d5dbe4;
   
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    color: #475569;
    font-size: 18px;
    line-height: 1.42857143;

}
.info input{
    height: 34px;
    /* width: 400px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    
}
.label-input{
    /* border: 1px solid; */
    padding: 20px;

}
.info input:focus{
  
    outline-color: #1371e1;
}
.customer-info-text{
    color: #334155;
}
.brd-submit-button{
    height: 40px;
    width: 50%; 
    color: white;
    background-color: #567dec;
    border: none;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 20px; 
    margin-left: 14%;
    cursor: pointer; 
}