.rdd-container {
    width: 80%;
    height: 72vh;
    margin-top: 1%;
    background-color: white;
    border-radius: 5px;
    position: relative;
    overflow: auto;    
    margin-bottom: 1%;
}

.top-right-button {
    position: absolute; 
    top: 1%;           
    right: 1%;        
    height: 30px;      
    width: 50px;      
    border: none;     
    border-radius: 5px; 
    background-color: #007bff; 
    color: white;    
    cursor: pointer;   
    text-align: center;
}

.top-right-button:hover {
    background-color: #0056b3; 
}

table {
    width: 100%;      
    border-collapse: collapse; 
    margin-top: 40px; 
    margin-left: 10px;
    
}

th, td {
    padding: 10px;      
    text-align: left;   
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f2f2f2; 
    
}

@media (max-width: 768px) {
    th, td {
        display: block;
        width: 100%;   
    }

    th {
        position: absolute; 
        top: -9999px;      
        
    }

    td {
        text-align: right; 
        position: relative; 
        padding-left: 50%; 
    }

    td::before {
        content: attr(data-label);
        position: absolute; 
        left: 10px; 
        width: calc(50% - 20px); 
        white-space: nowrap; 
        text-align: left; 
    }
}
